html {
    font-family: Arial, Helvetica, sans-serif;
}

.screen1 {
    height: 100vh;
    width: 100%;
}

.screen1-fs3 {
    font-size: 14px;
}

.screen2 {
    min-height: 100vh;
}

.black  {
    min-height: 100vh;
    width: 100%;
}

.red  {
    min-height: 100vh;
    width: 100%;
}

.screen3 {
    height: 100vh;
    width: 100%;
}
